:root {
  --background: #fff;

  --gray-1: #fcfcfd;
  --gray-2: #f8f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e6e8ec;
  --gray-5: #dfe1e6;
  --gray-6: #d7dae0;
  --gray-7: #cccfd5;
  --gray-8: #b9bcc1;
  --gray-9: #8b8e93;
  --gray-10: #808388;
  --gray-11: #616469;
  --gray-12: #1e2024;

  --gray-a1: #00005503;
  --gray-a2: #00256e07;
  --gray-a3: #00104010;
  --gray-a4: #00153e19;
  --gray-a5: #00103820;
  --gray-a6: #00143a28;
  --gray-a7: #000f2d33;
  --gray-a8: #000b1e46;
  --gray-a9: #00071274;
  --gray-a10: #0007117f;
  --gray-a11: #00050d9e;
  --gray-a12: #000207e1;

  --gray-contrast: #fff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8e93;
  --gray-track: #8b8e93;

  --accent-1: #fcfcfd;
  --accent-2: #f8f9fb;
  --accent-3: #eff0f3;
  --accent-4: #e6e8ec;
  --accent-5: #dfe1e6;
  --accent-6: #d7dae0;
  --accent-7: #cccfd5;
  --accent-8: #b9bcc1;
  --accent-9: #8b8e93;
  --accent-10: #7f8287;
  --accent-11: #616469;
  --accent-12: #1e2024;

  --accent-a1: #00005503;
  --accent-a2: #00256e07;
  --accent-a3: #00104010;
  --accent-a4: #00153e19;
  --accent-a5: #00103820;
  --accent-a6: #00143a28;
  --accent-a7: #000f2d33;
  --accent-a8: #000b1e46;
  --accent-a9: #00071274;
  --accent-a10: #00061080;
  --accent-a11: #00050d9e;
  --accent-a12: #000207e1;

  --accent-contrast: #fff;
  --accent-surface: #f6f8facc;
  --accent-indicator: #8b8e93;
  --accent-track: #8b8e93;
}


@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    :root {
      --gray-1: oklch(99.1% 0.0014 264.5);
      --gray-2: oklch(98.2% 0.0029 264.5);
      --gray-3: oklch(95.5% 0.0043 264.5);
      --gray-4: oklch(93.1% 0.0058 264.5);
      --gray-5: oklch(91% 0.0073 264.5);
      --gray-6: oklch(88.7% 0.0087 264.5);
      --gray-7: oklch(85.3% 0.0087 264.5);
      --gray-8: oklch(79.3% 0.0087 264.5);
      --gray-9: oklch(64.5% 0.0087 264.5);
      --gray-10: oklch(61% 0.0087 264.5);
      --gray-11: oklch(50.3% 0.0087 264.5);
      --gray-12: oklch(24.2% 0.0087 264.5);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.1608 0.4431 / 0.028);
      --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.0902 0.251 / 0.099);
      --gray-a5: color(display-p3 0.0078 0.0667 0.2235 / 0.126);
      --gray-a6: color(display-p3 0.0039 0.0549 0.1804 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0471 0.1451 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1059 / 0.271);
      --gray-a9: color(display-p3 0.0039 0.0196 0.0627 / 0.451);
      --gray-a10: color(display-p3 0.0039 0.0196 0.0588 / 0.495);
      --gray-a11: color(display-p3 0 0.0157 0.0471 / 0.616);
      --gray-a12: color(display-p3 0 0.0078 0.0275 / 0.883);

      --gray-contrast: #fff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.5% 0.0087 264.5);
      --gray-track: oklch(64.5% 0.0087 264.5);

      --accent-1: oklch(99.1% 0.0014 264.5);
      --accent-2: oklch(98.2% 0.0029 264.5);
      --accent-3: oklch(95.5% 0.0043 264.5);
      --accent-4: oklch(93.1% 0.0058 264.5);
      --accent-5: oklch(91% 0.0073 264.5);
      --accent-6: oklch(88.7% 0.0087 264.5);
      --accent-7: oklch(85.3% 0.0087 264.5);
      --accent-8: oklch(79.3% 0.0087 264.5);
      --accent-9: oklch(64.5% 0.0087 264.5);
      --accent-10: oklch(60.5% 0.0087 264.5);
      --accent-11: oklch(50.3% 0.0087 264.5);
      --accent-12: oklch(24.2% 0.0087 264.5);

      --accent-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --accent-a2: color(display-p3 0.0235 0.1608 0.4431 / 0.028);
      --accent-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --accent-a4: color(display-p3 0.0118 0.0902 0.251 / 0.099);
      --accent-a5: color(display-p3 0.0078 0.0667 0.2235 / 0.126);
      --accent-a6: color(display-p3 0.0039 0.0549 0.1804 / 0.153);
      --accent-a7: color(display-p3 0.0078 0.0471 0.1451 / 0.197);
      --accent-a8: color(display-p3 0.0039 0.0314 0.1059 / 0.271);
      --accent-a9: color(display-p3 0.0039 0.0196 0.0627 / 0.451);
      --accent-a10: color(display-p3 0.0039 0.0196 0.0588 / 0.499);
      --accent-a11: color(display-p3 0 0.0157 0.0471 / 0.616);
      --accent-a12: color(display-p3 0 0.0078 0.0275 / 0.883);

      --accent-contrast: #fff;
      --accent-surface: color(display-p3 0.9647 0.9725 0.9804 / 0.8);
      --accent-indicator: oklch(64.5% 0.0087 264.5);
      --accent-track: oklch(64.5% 0.0087 264.5);
    }
  }
}
