@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import './light.css';
@import './dark.css';

@utility optimize-legibility {
  text-rendering: optimizeLegibility;
}

@utility ag-grid {
  .ag-cell {
    @apply active:bg-ag-active;
  }

  .ag-row.ag-row-last {
    border-color: var(--ag-border) !important;
  }

  --ag-value-change-value-highlight-background-color: var(--green-500);
}

@theme inline {
  --color-border: var(--gray-a6);
  --color-border-hover: var(--gray-a7);
  --color-border-active: var(--gray-a8);
  --color-ag-active: var(--ag-active);
  --color-ag-border: var(--ag-active);
  --color-background: var(--accent-1);
  --color-background-hover: var(--gray-a2);
  --color-background-active: var(--accent-a2);
  --color-primary: var(--gray-12);
  --color-secondary: var(--gray-11);
  --color-tertiary: var(--gray-10);
  --color-input: var(--accent-a2);
  --color-button: var(--accent-a3);
  --color-button-hover: var(--accent-a4);
}

:root {
  --ag-active: oklch(0.92 0.0134 240.95);
  --ag-border: oklch(0 0 0 / 14.9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ag-active: oklch(0.29 0.0548 248.87);
    --ag-border: oklch(1 0 0 / 14.9%);
  }
}

@layer base {
  * {
    @apply optimize-legibility antialiased;
  }

  hr {
    @apply text-border;
  }

  html,
  body {
    @apply bg-background text-primary;
  }

  h1,
  h2 {
    @apply dark:text-white;
  }

  a {
    @apply touch-manipulation;
  }

  button {
    @apply touch-manipulation;
  }
}
